:root {
    --yellow: yellow;
    --green: green;
    --blue: blue;
    --white: white;
    --black: #504a4a;
    --orange: orange;
    --light-blue: #A3D8FF;
    --light-green: #94FFD8;
    --red: red;
}

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------ Navigation Bar -------------------------- */
header {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.landing{
    background-image: url("../images/bgcolor.png");
    background-size:cover;
    background-position:left;
    width: 100vw;
    min-height: 100vh;
    margin-bottom: 0;
}

.rpmc-logo {
    width: 4%;
    height: 4%;
    margin-left: 3em;
}
.link {
    padding:30px;
    padding-left:0;
    padding-right:60px;
} 
header a {
    text-decoration: none;
    color: var(--yellow);
    font-size: 2.5em;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}    
.menu {
    display: none;
}
.banner1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 4px;
    padding-left: 60px;
    margin: 50px 0px 150px 0px;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--red);
}
.rpmc {
    /* background: -webkit-linear-gradient(rgb(12, 62, 241), rgb(212, 4, 4), rgb(3, 39, 78));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent; */
    color: black;
    text-shadow: 5px 5px 15px rgb(15, 15, 0);
    letter-spacing: 7px;
    font-size: 2em;
}

#give-btn {
    background-color: var(--black);
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    border: none;
    border-radius:5px;
    height: 2em;
    width: 5em;
}

#give-btn:hover {
    background-color: var(--white);
    color: var(--black);
}

.division2 {
    background-color: rgb(255, 255, 255);
    min-height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}
.box1 {
    max-width: 100em;
    min-width: 40em;
    background-color: #ffffff;
    padding: 40px;
}
.box1 p {
    padding: 0 80px;
    font-size: 2.5em;
    text-align: justify;
}
#welcomemsg {
    font-size: 3.5em;
    text-align:left;
} 
#moreaboutus{
    border: none;
    margin-left: 80px;
    background-color: rgb(255, 123, 0);
    color: var(--white);
    cursor: pointer;
    font-weight: bolder;
    font-size: 30px;
    height: 80px;
    width: 250px
}
#moreaboutus:hover{
    background-color: rgb(255, 38, 0);
    color: rgb(255, 255, 255);
}
.box2{
    margin: 40px;
}
.box2 img{
    margin-top: 40px;
    height: 800px;
    width: 880px;
    min-height: 360px;
    min-width: 200px;
    transition: 0.3s;
}
#pastorandammaimg:hover{
    border: 20px solid rgb(80, 74, 74);
    border-radius: 10px;
}

/* ------------------------- Who we are ? ------------------------- */
.media_contents {
    margin-top: 150px;
    background-color: #cde6f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.who_we_are{    
    margin-top: 40px;
}
.who_we_are h1{
    font-size: 4em;
    text-align: center;
}
#underline {
    margin-left: 27vw;
    margin-bottom: 3em;
    height: 5px;
    width: 7vw;
    background: linear-gradient(to right, rgb(255, 10, 0),#ebc400);
}
#underline2 {
    margin-left: 43vw;
    margin-bottom: 3em;
    height: 5px;
    width: 7vw;
    background: linear-gradient(to right, rgb(255, 10, 0),#ebc400);
}

.who_we_are p {
    letter-spacing: 5px;
    max-width: 60vw;
    text-align: center;
    margin: 10px 10px;
    padding:0;
    font-size: 2em;
    line-height: 1.3em;
}
#know_more{
    border: none;
    margin: 20px 0 80px 26vw ;
    background-color: rgb(255, 123, 0);
    color: var(--white);
    cursor: pointer;
    font-weight: bolder;
    font-size: 30px;
    height: 80px;
    width: 250px
}
#know_more:hover{
    background-color: rgb(255, 38, 0);
    color: rgb(255, 255, 255);
}

/* --------------------- Our Ministries ----------------------------- */

.our_ministries {
    padding: 0px 80px;
    padding-bottom: 80px; 
}
.our_ministries h1 {
    margin-top: 40px;
    text-align: center;
    font-size: 4em;
}
.our_ministries p {
    margin: 0px 25px 20px;
    text-align: center;
    font-size: 2.5em;
}
.media_imgs {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.parent {
    width: 600px;
    margin: 20px;
    height: 500px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5); */
    border-radius: 10px;
    border: 15px solid #504a4a;
}
.media_img {
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: all 1.1s;
}
.media_img {
    display: flex;
    font-size: 3em;
    font-weight: bolder;
    text-align: justify;
    color: var(--white);
    justify-content: center;
    align-items: center;
}
.mediaimg1 {
    background-image: url("/images/perfect_saint_ministry.png");
}
.mediaimg2 {
    background-image: url("/images/rpmcbc.png");
}
.mediaimg3 {
    background-image: url("/images/church_ministry.png");
}
.mediaimg4 {
    background-image: url("/images/children_ministry.png");
}
.parent:hover .media_img {
    transform: scale(1.2);
    border: 15px solid rgb(239, 232, 22);
    z-index: 2;
    border:none;
    overflow: hidden;
    opacity: 1;
    color: yellow;
}

/* ------------------ FOOTER PAGE ------------------- */
.footer {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(32, 32, 32);
    font-size: 20px;
    color: white;
    border-bottom: 2px solid #ffffff;
}
.footer_head {
    color: var(--yellow);
    font-size: 2.5em;
    padding-left: 3%;
}
.footer div img{
    padding-left: 3px;
    height: 5vw;
    width: 5vw;
}
.first_div{
    text-align: center;
    font-size: 1.5em;
    line-height: 45px;
    min-height: 280px;
    min-width: 280px;
    max-width: 800px;
    padding: 2%;
    padding-bottom: 0;
}
.quick_links_div {
    flex:1;
    padding: 0% 5% 0% 15%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.quick_links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.quick_links_div a {
    text-decoration: none;
    font-size: 35px;
    color: rgb(255, 255, 255);
    padding-bottom: 30px;
    padding-left: 10px;
}
.contact_us_div{
    flex:1;
    padding: 0% 5% 3% 5%;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.icon {
    display: flex;
    justify-content: flex-start;
    padding-right: 10px;
}
.icon p, address{
    flex:1;
}
.icon i{
    font-size: 35px; 
}
.contact {
    font-size: 35px;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 10px;
}
address{
    font-size: 35px;
    padding-left: 20px;
    padding-right: 2px;
}
.copyrights_and_socialmedias{
    text-align: center;
    color: white;
    font-size: 1.5em;
    padding-top: 30px;
    background-color: rgb(32, 32, 32);
}
.copyrights_and_socialmedias h2{
    margin-top: 0;
    padding: 10px;
}
#cpyright{
    margin-bottom: 0;
    padding-bottom: 30px;
}
.socialmedia_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}
.socialmedia_icons p img{
    padding-right: 30px;
    padding-left: 30px;
    height: 70px;
    width: 70px;
}
.socialmedia_icons p {
    margin-top: 0;
}

/*  ---------------------------------------- Home Page CSS ------------------------- */

@media (max-width:2070px){

    /* ----------------------------- COMMON CODE START --------------------- */
    .rpmc-logo {
        width: 80px;
        height: 80px;
        margin-left: 50px;
        /* align-self: flex-start; */
    }

    header a {
        text-decoration: none;
        color: var(--yellow);
        font-size: 2em;
    }

    nav {
        display: none;
    }

    .line1, .line2, .line3 {
        background-color: var(--yellow);
        height: .4em;
        width: 2.3em;
        margin: 5px;
    }
    
    .menu {
        display: block;
        cursor: pointer;
        padding-right: 50px;
    }
    
    .menumover {
        display:flex;
        flex-direction: column;
        align-self: flex-start;
        margin: 20px 0px;
    }

    .showmenu {
        /* position: relative; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 30%;
        font-size: 20px;
    }

    .imgresize {
        height: 150px;
        width: 150px;
    }

    .banner1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 4px;
        padding-left: 60px;
        margin: 50px 0px 150px;
        font-size: 3em;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--red);
    }

/* ----------------------------- COMMON CODE END --------------------- */
    .box1 p {
        font-size: 2.5em;
        text-align: justify;
    }
    #welcomemsg {
        font-size: 3.5em;
        text-align:left;
    } 
    #moreaboutus{
        border: none;
        margin-left: 80px;
        background-color: rgb(255, 123, 0);
        color: var(--white);
        cursor: pointer;
        font-weight: bolder;
        font-size: 30px;
        height: 80px;
        width: 250px
    }
    #moreaboutus:hover{
        background-color: rgb(255, 38, 0);
        color: rgb(255, 255, 255);
    }
    .box2{
        margin: 40px;
    }
    .box2 img{
        height: 800px;
        width: 880px;
        min-height: 360px;
        min-width: 200px;
        transition: 0.3s;
    }
    #pastorandammaimg:hover{
        border: 20px solid rgb(80, 74, 74);
        border-radius: 10px;
    }

    /* -------------------------- Who we are ? ------------------------- */
    .who_we_are{    
        margin-top: 40px;
    }
    .who_we_are h1{
        font-size: 3em;
        text-align: center;
    }
    .who_we_are p {
        text-align: center;
        margin: 10px 10px;
        padding:0;
        font-size: 2em;
        line-height: 1.3em;
    }
    #know_more{
        border: none;
        margin: 20px 0 80px 22vw ;
        background-color: rgb(255, 123, 0);
        color: var(--white);
        cursor: pointer;
        font-weight: bolder;
        font-size: 30px;
        height: 80px;
        width: 250px
    }
    #know_more:hover{
        background-color: rgb(255, 38, 0);
        color: rgb(255, 255, 255);
    }

    /* ----------------------------- Our Ministries ----------------- */
    .media_imgs {
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap;
    }
    .mediaimg {
        width: 22%;
        height: 20%;
        border: 15px solid rgb(255, 255, 255);
        border-radius: 5%;
    }
    .our_ministries h1 {
        font-size: 3em;
    }
    #underline2 {
        margin-left: 40vw;
    }
    .our_ministries p {
        font-size: 2em;
        margin: 0px 25px 30px;
        text-align: center;
    }
    .media_imgs {
        margin: 18px;
    }
    .mediaimg {
        flex: 2;
        width: 40vw;
        height: 28vw
    }
        
    /* ------------------ FOOTER PAGE ------------------- */
    .footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: rgb(32, 32, 32);
        font-size: 20px;
        color: white;
    }
    .footer_head {
        color: var(--yellow);
        font-size: 2.5em; /* ======= */
        padding-left: 3%;
    }
    .footer div img{
        padding-left: 3px;
        height: 10vw;/* ====== */
        width: 10vw;/* ====== */
    }
    .first_div{
        text-align: center;
        font-size: 1.5em; /* ====== */
        line-height: 45px; /* ====== */
        min-height: 280px;
        min-width: 280px;
        max-width: 800px;
        padding: 5%;
        padding-bottom: 0;
    }
    .quick_links_div {
        flex:1;
        padding: 2% 5% 0% 5%;  /* ====== */
        min-width: 280px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .quick_links_div a {
        text-decoration: none;
        font-size: 35px;  /* ====== */
        color: rgb(255, 255, 255);
        padding-bottom: 30px;
        padding-left: 10px;
    }
    .contact_us_div{
        flex:1;
        padding: 0% 5% 0% 5%;
        min-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .icon {
        display: flex;
        justify-content: flex-start;
        padding-right: 10px;
    }
    .icon p, address{
        flex:1;
    }
    .icon i{ /* ====== */
        font-size: 35px; 
    }
    .contact {
        font-size: 35px; /* ====== */
        margin-top: 0;
        padding-left: 20px;
        padding-right: 10px;
    }
    address{
        font-size: 35px; /* ====== */
        padding-left: 20px;
        padding-right: 2px;
    }
}

@media (max-width:1300px) {
    .mediaimg {
        width: 50vw;
        height: 50vw;
    }
}

/* --------------------- CSS STYLE FOR TABLET --------------------------*/
@media (max-width:999px) {

    /* ----------------------------- COMMON CODE START --------------------- */
    .rpmc-logo {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }

    .link {
        padding:30px;
    } 

    nav {
        display: none;
    }

    .line1, .line2, .line3 {
        background-color: var(--yellow);
        height: .4em;
        width: 2.3em;
        margin: 5px;
    }
    
    .menu {
        cursor: pointer;
        padding-right: 0;
    }
    
    .imgresize {
        margin:0;
        height: 70px;
        width: 70px;
        padding-left:30px;
    }

    .showmenu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 130px;
            flex-wrap: wrap;     
    }

    .banner1 {
        text-align: center;
        letter-spacing: 3px;
        padding-left: 0px;
        margin: 50px 0px 100px 0px;
        font-size: 1em;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--red);
    }

/* ----------------------------------------------- COMMON CODE END ----------------- */
    #give-btn {
        background-color: var(--black);
        font-size: 1.3em;
        font-weight: bold;
        color: white;
        border: none;
        border-radius:5px;
        height: 2.5em;
        width: 6em
    }

    .division2 {
        min-height: 600px;
    }
    .box1 {
        max-width: 50em;
        min-width: 15em;
        background-color: #ffffff;
        padding: 40px;
        padding-bottom: 0px;
    }
    .box1 p {
        margin-left: -10px;
        font-size: 1.2em;
        line-height: 23px;
        text-align: justify;
    }
    #welcomemsg {
        margin-left: -12px;
        font-size: 1.5em;
        line-height: 35px;
        text-align:left;
    } 
    #moreaboutus{
        margin-left: 70px;
        border: none;
        background-color: rgb(244, 167, 67);
        color: var(--white);
        font-weight: bolder;
        font-size: 15px;
        height: 45px;
        width: 145px;
    }
    .box2 {
        margin-top: 0px;
    }
    .box2 img{
        height: 400px;
        width: 480px;
        min-height: 360px;
        min-width: 200px;
    }

    /* ==============================  Who we are ? ================================ */
    .media_contents {
        margin-top: 0px;
    }
    #underline {
        margin: 0px 0 30px 30vw;
        height: 3px;
        width: 20vw;
    }
    .who_we_are h1{
        margin-bottom: 10px;
        text-align: center;
    }
    .who_we_are p {
        max-width: 80vw;
        letter-spacing: 2px;
        text-align: center;
        margin: 10px 10px;
        padding:0;
        font-size: 20px;
        line-height: 25px;
    }
    #know_more{
        margin: 20px 0 30px 30vw;
        border: none;
        background-color: rgb(244, 167, 67);
        color: var(--white);
        font-weight: bolder;
        font-size: 15px;
        height: 45px;
        width: 145px
    }

    /* =================== Our Ministries ================ */
    .our_ministries h1 {
        margin-top: 40px;
        margin-bottom: 20px;
        text-align: center;
    }
    #underline2 {
        margin: 0px 0 30px 30vw;
        height: 3.5px;
        width: 20vw;
    }
    .our_ministries p {
        margin: 0px 25px 20px;
        text-align: center;
    }
    .media_imgs {
        margin: 18px;
    }
    .mediaimg {
        flex: 2;
        width: 40vw;
        height: 28vw
    }
    .mediaimg2, .mediaimg1 {
        text-align: center;
    }
    
    /* ------------------ FOOTER PAGE ------------------- */
  
    .footer_head {
        font-size: 1.7em;
    }
    .footer div img{
        height: 80px;
        width: 80px;
    }
    .first_div{
        font-size: 1.2em;
        line-height: 40px;
    }
    .quick_links_div {
        padding: 0;
        padding-left: 2%;
    }
    .quick_links_div a {
        font-size: 1.2em;
    }
    .contact_us_div{
        padding: 0;
        min-width: 280px;
    }
    .icon i{
        font-size: 30px; 
    }
    .icon p, address{
        flex:1;
    }
    .contact {
        font-size: 1.1em;
        padding-right: 5px;
    }
    address{
        font-size: 1.1em;
    }
    .copyrights_and_socialmedias h2{
        font-size: 1em;
    }
    #cpyright{
        font-size: 0.7em;
    }
}

/* ----------------------------------------------- COMMON CODE START ----------------- */
nav a:hover {
    font-size: 2.2em;
    color: orange;
}

nav a:active {
    color: rgb(225, 19, 19);
}
/* ----------------------------------------------- COMMON CODE END ----------------- */

/* --------------------- CSS STYLE FOR MOBILE PHONE --------------------------*/
@media (max-width:426px) {

    /* ----------------------------------------------- COMMON CODE START ----------------- */
    .rpmc-logo {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }

    .link {
        padding:30px;
    }

    nav {
        display: none;
    }

    .line1, .line2, .line3 {
        background-color: var(--yellow);
        height: .3em;
        width: 2.3em;
        margin: 5px;
    }
    
    .menu {
        cursor: pointer;
        padding-right: 0;
    }
    
    .imgresize {
        margin:0;
        height: 70px;
        width: 70px;
        padding:0px;
    }

    .showmenu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex-wrap: wrap; 
            padding-top: 0px;
            padding-left: 20px;
            font-size: 10px;
    }
/* ----------------------------------------------- COMMON CODE END ----------------- */

    .banner1 {
        text-align: center;
        letter-spacing: 3px;
        padding-left: 0px;
        margin: 50px 0px 80px;
        font-size: 1em;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--red);
    }

    .box1 {
        max-width: 50em;
        min-width: 15em;
        background-color: #ffffff;
        padding: 40px;
        padding-bottom: 10px;
    }
    .box1 p {
        margin: 10px 10px;
        padding:0;
        font-size: 1em;
        line-height: 22px;
        text-align: justify;
    }
    #welcomemsg {
        margin: 0 10px 10px;
        font-size: 1.5em;
        line-height: 35px;
        text-align:left;
    } 
    #moreaboutus{
        border: none;
        background-color: rgb(244, 167, 67);
        color: var(--white);
        font-weight: bolder;
        text-align: center;
        font-size: 15px;
        margin-top: 15px;
        margin-left:18vw;
        height: 35px;
        width: 135px
    }
    .box2 img{
        padding:0;
        width: 280px;
        margin:0;
    }
    .box2 {
        margin: 0;
        margin-bottom: 10px;
    }
    #pastorandammaimg {
        width: 100%;
        height: 60%;
    }
    #pastorandammaimg:hover{
        margin: 0px;
        border: 0px solid #0e0f0f;

    }

    /* ------------------------------- Who we are ? -------------------------- */
   
    .who_we_are h1{
        font-size: 2em;
        text-align: center;
    }
    #underline {
        margin-left: 30vw;
        margin-bottom: 30px;
        height: 3px;
        width: 20vw;
    }
    .who_we_are p {
        letter-spacing: 0px;
        max-width: 80vw;
        text-align: center;
        margin: 10px 10px;
        padding:0;
        font-size: 16px;
        line-height: 22px;
    }
    #know_more{
        border: none;
        background-color: rgb(244, 167, 67);
        margin: 20px 22vw 40px 22vw;
        color: var(--white);
        font-weight: bolder;
        font-size: 15px;
        height: 35px;
        width: 135px
    }

    /* ----------------------------- Our Ministries ----------------- */
    .our_ministries{
        padding-left:10px;
        padding-right: 10px; 
    }
    .our_ministries h1 {
        font-size: 2em;
    }
    #underline2 {
        margin: 0px 0 30px 35vw;
        height: 3.5px;
        width: 20vw;
    }
    .our_ministries p {
        font-size: 1em;
    }
    .media_imgs {
        margin:0px;
    }
    .parent {
        width: 600px;
        margin-top: 10px;
        height: 250px;
        border-radius: 10px;
        border: 5px solid #504a4a;
    }
    .media_img {
        display: flex;
        font-size: 1.5em;
        font-weight: bolder;
        text-align: justify;
        color: var(--white);
        justify-content: center;
        align-items: center;
    }
    .mediaimg {
        min-width: 260px;
        height: 300px;
    }
    .mediaimg2, .mediaimg1 {
        text-align: center;
    }
    .mediaimg4 {
        justify-content: flex-start;
        background-position: right;
        padding-left: 30px;
    }

    /* ------------------ FOOTER PAGE ------------------- */
    .footer_head {
        align-self: flex-start;
        padding-left: 10px;
        font-size: 25px;
    }
    .footer div img{
        height: 80px;
        width: 80px;
    }
    .first_div{
        font-size: 1.2em;
        line-height: 40px;
    }
    .first_div p{
        font-size: 20px;
        padding: 0 10px;
    }
    .quick_links_div {
        padding: 0;
        padding-left: 2%;
    }
    .quick_links_div a {
        padding-left: 50px;
        font-size: 1.2em;
    }
    .contact_us_div{
        padding: 0;
        min-width: 280px;
    }
    .icon i{
        font-size: 20px;
        padding-left: 20px;
    }
    .icon p, address{
        flex:1;
    }
    .contact {
        font-size: 20px;
        padding-right: 5px;
    }
    address{
        font-size: 20px;
    }
    .socialmedia_icons p img{
        padding-right: 15px;
        padding-left: 15px;
        height: 40px;
        width: 40px;
    }
    .copyrights_and_socialmedias h2{
        font-size: 0.7em;
    }
    #cpyright{
        font-size: 0.5em;
    }
}

@media (max-width: 376px) {

    /* ----------------------------------------------- COMMON CODE START ----------------- */
    .banner1 {
        text-align: center;
        letter-spacing: 0px;
        padding-left: 0px;
        margin: 50px 0px 80px 0px;
        font-size: 1em;
        font-weight: bolder;
        font-stretch: expanded;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--red);
    }

    .showmenu {
        padding-left: 5px;
    }
    /* ------------------------- FOOTER PAGE -------------------  */
    .socialmedia_icons p img{
        padding-right: 8px;
        padding-left: 10px;
        height: 30px;
        width: 30px;
    }
/* ----------------------------------------------- COMMON CODE END ----------------- */
}

